@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    margin: 75px 10px 10px 10px;
    font-family: 'Helvetica', sans-serif;
    letter-spacing: .5px;
    background-color: #241a22;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overscroll-behavior: none;
    color: #fdd6dd;
    min-height: 100vh;
}

body{
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.pfp{
    border-radius: 100px;
    width: 200px;
}

.textCenter{
  text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
    width: 500px;
    height: 100%;
    margin: 0 auto;
}

.fade-container {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in {
  opacity: 1;
}

p{
  text-align: center;
  margin: 2px;
  padding: 0;
}